# Default ignored files
/target
*.iml
/.idea
/shelf/
/.idea/workspace.xml
/.idea/compiler.xml
# Datasource local storage ignored files
/../../../../:\JAVA\LiberaryPractice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
